<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="chrome" />
    <add key="browserVersion" value="57" />
    <!--<add key="browser" value="firefox" />
    <add key="browserVersion" value="47" />
    <add key="browser" value="edge" />
    <add key="browserVersion" value="38" />
    <add key="browser" value="ie" />
    <add key="browserVersion" value="11" />-->
    <add key="remoteDriverUri" value="http://localhost:4444/wd/hub"/>
    <add key="url" value="http://www.trademe.co.nz/"/>
    <add key="resolution" value ="1024x768"/>
    <add key ="timeoutInSeconds" value="10"/>
  </appSettings>
  
</configuration>